.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%; /* Define a largura do container principal */
    margin: 0 auto; /* Centraliza o container na tela */
  }
  
  /* Formulário */
  
  .formulario {
    background-color: #fff;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Define a largura máxima do formulário */
  }
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--roxo-claro);
    text-align: center;
  }
  
  /* Estilos dos elementos do formulário */
  
  .campo {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  
  .campo:focus {
    border-color: #999;
  }
  
  .mensagem {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .botao {
    background-color: var(--roxo-claro);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Poppins", sans-serif;
  }
  
  .campoCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .campoCheckbox label {
    margin-left: 5px;
  }
  
  .campo[type="checkbox"] {
    margin: 0;
  }
  
  .campo[type="textarea"] {
    resize: none; /* Desabilita o redimensionamento da textarea */
  }
  