.conteiner {
    display: flex;
    flex-direction: column;
    height: calc(105.2vh - 50px);
    justify-content: center;
    align-items: center;
    background-color: var(--verde-claro);
    margin: 0;
}

.imagem {
    margin-right: 700px; 
    max-width: 150vh; 
    max-height: 50vh;
}
.titulo {
    font-size: 40px;
    color: #fff;
    margin-left: 90px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #19847F;
    padding: 100px 30px;
    border-radius: 10px;
    width: 350px; 
    margin-top: -20%;
    margin-left: 45%;
}

.campo {
    background-color: var(--cinza-claro);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
}

.botao {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.mensagem {
    font-size: .9rem;
    font-weight: 600;
    margin-top: -6px;
    margin-bottom: 1rem;  
    color: red; 
}
input{
    margin-top: 10px;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}